<div class="budgetPage page">
  <div class="category-box">
    <ul>
      <!-- ////// Category 1 ////// -->
      <!-- //////////////////////// -->
      <li>
        <div class="category round-s sh-1">
          <h2 class="heading colorBl-1">Shopping</h2>
          <div class="btnBox">
            <input
              class="round-s amountField subHeading colorBl"
              onkeyup="autoExpand(this)"
              type="number"
              name=""
              id="" />
            <button class="btn-edit discard">
              <ion-icon class="icon-m" name="close"></ion-icon>
            </button>

            <button class="btn-edit edit">
              <ion-icon class="icon-m" name="pencil"></ion-icon>
            </button>

            <button class="btn-edit submit">
              <ion-icon class="icon-m" name="checkmark"></ion-icon>
            </button>
          </div>
        </div>
      </li>

      <!-- ////// Category 2 ////// -->
      <!-- //////////////////////// -->
      <li>
        <div class="category round-s sh-1">
          <h2 class="heading colorBl-1">Grocery</h2>
          <div class="btnBox">
            <input
              class="round-s amountField subHeading colorBl"
              onkeyup="autoExpand(this)"
              type="number"
              name=""
              id="" />
            <button class="btn-edit discard">
              <ion-icon class="icon-m" name="close"></ion-icon>
            </button>

            <button class="btn-edit edit">
              <ion-icon class="icon-m" name="pencil"></ion-icon>
            </button>

            <button class="btn-edit submit">
              <ion-icon class="icon-m" name="checkmark"></ion-icon>
            </button>
          </div>
        </div>
      </li>
    </ul>

    <div>
      <div class="btn-add round-s sh-1">
        <ion-icon class="icon-l" name="add-outline"></ion-icon>
      </div>
    </div>
  </div>
  <!-- /////// Pop up Section ////////// -->
  <div class="popUpCon"></div>
</div>
