<div class="dashboard page">
  <div class="addTrPage"></div>
  <div class="addBtn border"></div>

  <div class="dashboardCon">
    <!-- ////////////// Top Info Box ////////////// -->
    <!-- ////////////////////////////////////////// -->
    <div class="InfoCon gr-7 round-l">
      <div class="topCon">
        <h2 class="heading colorWh-1">Your wealth</h2>
        <h1 class="title txtShadow colorWh">$ 967800.00</h1>
      </div>

      <div class="bottomCon">
        <div class="cashCon">
          <div class="iconBox sh-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-s colorBl-1">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
            </svg>
            <!-- <ion-icon class="icon-s" name="cash-outline"></ion-icon> -->
          </div>
          <div class="txtBox">
            <h2 class="subHeading colorWh-1">Cash left</h2>
            <h2 class="heading colorWh">$ 23546.00</h2>
          </div>
        </div>

        <div class="bankCon">
          <div class="iconBox sh-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-s colorBl-1">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
            </svg>
            <!-- <ion-icon class="icon-s" name="cash-outline"></ion-icon> -->
          </div>
          <div class="txtBox">
            <h2 class="subHeading colorWh-1">Bank balance</h2>
            <h2 class="heading colorWh">$ 23546.00</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- //////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////// -->
    <div class="hSpendCon container sh-2 round-l">
      <div class="spendBox sh-1 round-m">
        <div class="iconBox round-s">
          <ion-icon class="icon-m" name="arrow-up-outline"></ion-icon>
        </div>
        <h2 class="heading colorBl-1">Total Spending</h2>
        <h2 class="heading amount">$ 3700000</h2>
      </div>

      <div class="typeCon">
        <div class="typeBox cash sh-1 gr-2 round-m">
          <div class="box-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-m colorWh">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
            </svg>

            <!-- <ion-icon class="icon-m colorWh" name="cash-outline"></ion-icon> -->
            <h3 class="subHeading colorWh">Cash</h3>
          </div>
          <h3 class="subHeading">$ 235400</h3>
        </div>

        <div class="typeBox online sh-1 gr-6 round-m">
          <div class="box-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-m colorWh">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 013.75 9.375v-4.5zM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 01-1.125-1.125v-4.5zM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0113.5 9.375v-4.5z" />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 6.75h.75v.75h-.75v-.75zM6.75 16.5h.75v.75h-.75v-.75zM16.5 6.75h.75v.75h-.75v-.75zM13.5 13.5h.75v.75h-.75v-.75zM13.5 19.5h.75v.75h-.75v-.75zM19.5 13.5h.75v.75h-.75v-.75zM19.5 19.5h.75v.75h-.75v-.75zM16.5 16.5h.75v.75h-.75v-.75z" />
            </svg>

            <!-- <ion-icon class="icon-m colorWh" name="qr-code-outline"></ion-icon> -->
            <h3 class="subHeading colorWh">Online</h3>
          </div>
          <h3 class="subHeading">$ 235400</h3>
        </div>

        <div class="typeBox bank sh-1 gr-1 round-m">
          <div class="box-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-m colorWh">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
            </svg>

            <!-- <ion-icon class="icon-m colorWh" name="card-outline"></ion-icon> -->
            <h3 class="subHeading colorWh">Bank</h3>
          </div>
          <h3 class="subHeading">$ 235400</h3>
        </div>
      </div>
    </div>
  </div>
</div>
