<footer class="footer">
  <div class="navigation">
    <div class="indicator p-0">
      <span class="left"></span>
      <span class="right"></span>
    </div>
    <div class="indicator indicator-cir p-0">
      <div class="circle"></div>
    </div>

    <ul>
      <li class="navBtn active">
        <a href="#" class="nav-link">
          <ion-icon name="grid-outline" class="footer-icon"></ion-icon>
          <span class="text-f">Dashboard</span>
        </a>
      </li>

      <li class="navBtn">
        <a href="#" class="nav-link">
          <ion-icon name="pie-chart-outline" class="footer-icon"></ion-icon>
          <span class="text-f">Budget</span>
        </a>
      </li>

      <li class="navBtn">
        <a href="#" class="nav-link">
          <ion-icon name="receipt-outline" class="footer-icon"></ion-icon>
          <span class="text-f">Transaction</span>
        </a>
      </li>

      <li class="navBtn">
        <a href="#" class="nav-link">
          <ion-icon name="options-outline" class="footer-icon"></ion-icon>
          <span class="text-f">Options</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
