<div class="transactionPage page">
  <div class="statusCon round-l sh-2">
    <div class="typeCon">
      <div class="typeBox earn">
        <div class="box-1 sh-1 gr-4">
          <div class="box-2 sh-1">
            <h3 class="homeTxt">Earned</h3>
          </div>
        </div>
        <h3 class="homeTxt">$ 235400</h3>
      </div>

      <div class="typeBox spend">
        <div class="box-1 sh-1 gr-3">
          <div class="box-2 sh-1">
            <h3 class="homeTxt">Spend</h3>
          </div>
        </div>
        <h3 class="homeTxt">$ 235400</h3>
      </div>

      <div class="typeBox bank">
        <div class="box-1 sh-1 gr-2">
          <div class="box-2 sh-1">
            <h3 class="homeTxt">Bank</h3>
          </div>
        </div>
        <h3 class="homeTxt">$ 235400</h3>
      </div>
    </div>
  </div>

  <!-- /////// Transaction Box ///////////// -->
  <!-- ///////////////////////////////////// -->
  <div class="transaction-box">
    <div class="tr-top-box">
      <form action="" class="tr-form">
        <select name="" id="">
          <option value="1 month">1 month</option>
          <option value="1 month">6 month</option>
          <option value="1 month">1 year</option>
        </select>

        <button>Add Filter</button>
      </form>
    </div>

    <div class="tr-bottom-box">
      <ol class="tr-list">
        <li>
          <p class="trCat">Salary</p>
          <p class="trAmount">+10000</p>
        </li>
        <li>
          <p class="trCat">Pocket money</p>
          <p class="trAmount">+100</p>
        </li>
        <li>
          <p class="trCat">Grocery</p>
          <p class="trAmount">-170</p>
        </li>
        <li>
          <p class="trCat">Salary</p>
          <p class="trAmount">+10000</p>
        </li>
        <li>
          <p class="trCat">Pocket money</p>
          <p class="trAmount">+100</p>
        </li>
        <li>
          <p class="trCat">Grocery</p>
          <p class="trAmount">-170</p>
        </li>
        <li>
          <p class="trCat">Salary</p>
          <p class="trAmount">+10000</p>
        </li>
        <li>
          <p class="trCat">Pocket money</p>
          <p class="trAmount">+100</p>
        </li>
        <li>
          <p class="trCat">Grocery</p>
          <p class="trAmount">-170</p>
        </li>
        <li>
          <p class="trCat">Salary</p>
          <p class="trAmount">+10000</p>
        </li>
        <li>
          <p class="trCat">Pocket money</p>
          <p class="trAmount">+100</p>
        </li>
        <li>
          <p class="trCat">Grocery</p>
          <p class="trAmount">-170</p>
        </li>

        <li>
          <p class="trCat">Pocket money</p>
          <p class="trAmount">+100</p>
        </li>
        <li>
          <p class="trCat">Grocery</p>
          <p class="trAmount">-170</p>
        </li>
        <li>
          <p class="trCat">Salary</p>
          <p class="trAmount">+10000</p>
        </li>
        <li>
          <p class="trCat">Pocket money</p>
          <p class="trAmount">+100</p>
        </li>
        <li>
          <p class="trCat">Grocery</p>
          <p class="trAmount">-170</p>
        </li>
      </ol>
    </div>
  </div>
</div>
