<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Money | Day to day budgeting application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<style>
.container {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  max-width: 800px;
  height: 100vh; /* Set the container height to the full viewport height */
  margin: 0 auto;
}

.centered {
  text-align: center; /* Centers the image horizontally within the div */
}

.centered img {
  max-width: 100%; /* Ensures the image doesn't exceed its parent container */
  max-height: 100%; /* Ensures the image doesn't exceed its parent container */
}
p{
    text-align: center;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

</style>
</head>
<body>

    <div class="container">
        <div class="centered">
          <img src="/images/404_image.jpg" alt="Page Not Found!">
          <p>&copy; 2023 Pocket Money, All Rights Reserved</p>
        </div>
      </div>
      
    
</body>
</html>