<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Junayed Rahaman">
    <title>Pocket Money | Day to day budgeting application</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- local styling -->

    <style>
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: url('/images/Pattern.png') top left repeat, #dae0e6;
}
.container{
    margin-top: 30px;
}
.col-centered{
  float: none !important;
  margin: 0 auto !important;
}
.box{
    background-color: rgba(255, 255, 255, .8);
    border-radius:5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.tb-small{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    
}
.box-2{
    background-color: rgba(255, 255, 255, .8);
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2); 
    /* width: 60%;
    margin: 0 auto; */
}

.col-lg-4 p{
    background-color: rgba(255, 255, 255, .8);
    border-radius:5px;
    padding: 20px;
    margin-bottom: 0px;
    font-size: 16px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.tb-small p{
    font-size: 18px;
    width: 50%;
  text-align: center;
}
.tb-small span{
    font-size: 30px;
    width: 33.3%;
  text-align: center;
  transition: 0.5s;
}

p{
    font-size: 18px;
}
.box p span{
height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.active{
    color: dodgerblue;
}
.disabled:hover{
color: dodgerblue;
}
@media only screen and (max-width:768px){
.paymode1{
    padding:0;
    margin-bottom: 5px;
}
.paymode2{
    padding: 0;
    margin-bottom: 5px;
}
.paymode3{
    padding:0;
    margin-bottom: 5px;
}
}
@media only screen and (min-width:769px){
.paymode1{
    padding-left: 0px;
}
.paymode3{
    padding-right: 0px;
}
}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-centered">
<div class="box text-dark text-center">
    <h4>Your Wealth: $100,000</h4>
    <br>
    <p>Cash: $30,000</p>
    <p>Bank: $70,000</p>
</div>
<div class="box text-dark">
    <div class="tb-small">
    <p>Income </p>
    <p>Expenses </p>
    <p>$40,000 </p>
    <p>$30,000 </p>
</div>
</div>
<!-- <div class="box text-dark"> -->
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-4 col-md-4 paymode1"><p><i class="fa-solid fa-qrcode"></i> Online - $7,000</p></div>
            <div class="col-lg-4 col-md-4 paymode2"><p><i class="fa-solid fa-money-bill"></i> Cash - $47,000</p></div>
            <div class="col-lg-4 col-md-4 paymode3"><p><i class="fa-solid fa-building-columns"></i> From Bank - $9,000</p></div>
        </div>
    </div>

<div class="box text-dark">
    <p class="text-center lead">Budget Left <i class="fa-solid fa-chart-pie"></i></p>
    <div class="tb-small">
    <p>$40,000/$80,000</p>
    <p>50%</p>
</div>
</div>
<div class="box" style="margin-bottom: 50px;">
    <p><span>G</span> Grocery: </p>
    <p><span>F</span> Food: </p>
    <p><span>C</span> Cosmetics: </p>
</div>
<div class="box-2">
    <div class="tb-small">
        <span class="active"><i class="fa-solid fa-gauge"></i></span>
        <span class="disabled"><i class="fa-solid fa-money-bill"></i></span>
        <span class="disabled"><i class="fa-solid fa-gear"></i></span>
    </div>
</div>
            </div>
        </div>
    </div>

    
    
    
<!-- scripts -->
<script src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>