<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Junayed Rahaman">
<title>Pocket Money | Day to day budgeting application</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/register_style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">


  <script src="js/jquery.min.js"></script>
<script src="js/register.js"></script>

</head>
<body>
	<div class="img-style">  <!-- for background images -->   
    
	<div class="container">
   <div class="row">
   	<div class="col-lg-8 col-md-10 col-sm-12 col-centered" style="margin-top: 60px;">
   		<div class="box">
   			<div class="text-center mb-3">
 
   				<span class="logo">Pocket Money</span>
   			</div>	
   			<!-- Login form start -->
   			<div id="first">
        <form action="#" method="POST">
        	<div class="form-group">
        		<input class="form-control" type="email" name="log_email" placeholder="Email Address" value="" required>
        	</div>        	
        	<div class="form-group">
        		<input class="form-control" type="password" name="log_password" placeholder="Password">
        	</div>        	
        	<div class="form-group">
        		<input class="myBtn" type="submit" name="login_button" value="Login">
        		 <p class="error"></p>
        	</div>
        	<div class="text-center mb-2">
        	<a href="#" id="signup" class="signup">Need an account? Register here!</a>
        	</div>
        </form>
        </div>
         <!-- Register form start -->
         <div id="second">
        <form action="#" method="POST">
		<div class="form-group">
		<input class="form-control" type="text" name="reg_fname" placeholder="First Name" value="" required>
	    <p class="error"></p>
		</div>
		<div class="form-group"> 
		<input class="form-control" type="text" name="reg_lname" placeholder="Last Name" value="" required>
		 <p class="error"></p>
		</div>		
		<div class="form-group"> 
		<input class="form-control" type="email" name="reg_email" placeholder="Email" value="" required>
		</div>		
		<div class="form-group"> 
		<input class="form-control" type="email" name="reg_email2" placeholder="Confirm Email" value="" required>
		 <p class="error"></p>
		</div>		
		<div class="form-group"> 
		<input class="form-control" type="password" name="reg_password" placeholder="Password" required>
		</div>		
		<div class="form-group"> 
		<input class="form-control" type="password" name="reg_password2" placeholder="Confirm Password" required>
		  <p class="error"></p>
		</div>
        <div class="form-group">        

        <input class="myBtn" type="submit" name="register_button" value="Register">
        <p></p>
        </div>
        <div class="text-center mb-2">
        	<a href="#" id="signin" class="signin">Already have an account? Login here!</a>
        	</div>
        </form>
        </div>
    </div>

   </div>
</div>
</div>
</div>

<!--scripts-->

<script src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>