/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --col-ui: #fff;
  --col-ui-2: #eee;
  --col-w1: #e0e0e0;
  --col-bl: #111;
  --col-btn: #008dff;
  --col-btn-1: #c1e0fa;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  background: #222;
  height: 100vh;
  background: #f6f8ff;
}

main {
  height: 100%;
  position: fixed;
  bottom: 0;
}

.body {
  display: flex;
  height: calc(100% - 6rem);
  position: absolute;
  bottom: 6rem;
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  color: var(--col-ui);
  background: var(--col-btn);
  padding: 1rem 2rem;
}

.icon-s {
  font-size: 1.6rem;
  height: 1.6rem;
  width: 1.6rem;
}

.icon-m {
  font-size: 2.4rem;
  height: 2.4rem;
  width: 2.4rem;
}

.icon-l {
  font-size: 3.2rem;
  height: 3.2rem;
  width: 3.2rem;
}

.gr-1 {
  background: linear-gradient(to bottom, #fc8686, #faa8c5);
}
.gr-2 {
  background: linear-gradient(to bottom, #71bcf9, #62d4e2);
}
.gr-3 {
  background: linear-gradient(to bottom, #ffba71, #ffdd62);
}
.gr-4 {
  background: linear-gradient(to bottom, #74d985, #a9e057);
}
.gr-5 {
  background: linear-gradient(to bottom, #e7e7e7, #f0f0f0);
}
.gr-6 {
  background: linear-gradient(to bottom, #9775fa, #da77f2);
}
.gr-7 {
  background-image: linear-gradient(
    to right bottom,
    #00ee6e,
    #00dbb9,
    #00c0f2,
    #009fff,
    #0c75e6
  );
}

.sh-1 {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.sh-2 {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
}

.border {
  border: 0.1rem solid #ffffff;
}

.round-s {
  border-radius: 0.8rem;
}
.round-m {
  border-radius: 1.2rem;
}

.round-l {
  border-radius: 1.6rem;
}

.txtShadow {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.quote {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}

.subHeading {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}

.heading {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.title {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 700;
}

.colorWh {
  color: #fff;
}

.colorWh-1 {
  color: rgba(255, 255, 255, 0.8);
}

.colorBl {
  color: #111;
}

.colorBl-1 {
  color: rgba(17, 17, 17, 0.7);
}

/* //////// Z- Index ////////////// */
.body {
  z-index: 2;
}

.footer::after {
  z-index: 2;
}
.footer-icon {
  z-index: 4;
}
.text-f {
  z-index: 1;
}

.indicator-cir {
  z-index: 3;
}

.addTrPage {
  z-index: 3;
}

.addBtn {
  z-index: 4;
}
